<div class="list-group">
  <%= FilterView.plan_execution_filter(:all, @active_filter) %>
  <%= FilterView.plan_execution_filter(:created, @active_filter) %>
  <%= FilterView.plan_execution_filter(:finished, @active_filter) %>
  <%= FilterView.plan_execution_filter(:halted, @active_filter) %>
  <%= FilterView.plan_execution_filter(:running, @active_filter) %>
</div>

