<tr>
  <td scope="row">
    <%= live_patch @plan_execution.id,
to: Routes.live_path(@socket, SmokexWeb.PlansExecutionsLive.Show, @plan_execution.id),
class: "nav-link" %>
  </td>
  <td scope="row">
    <%= @plan_execution.started_at %>
  </td>
  <td scope="row">
    <%= @plan_execution.finished_at %>
  </td>
  <td scope="row">
    <%= StatusBadge.new(@plan_execution) %>
  </td>
</tr>

