<div class="box-content">
  <ul id="<%= @id %>" phx-update="<%= @update_action %>">
    <%= for plan_execution <- @plan_executions do %>
      <%= live_component @socket, RowComponent, id: plan_execution.id, plan_execution: plan_execution %>
    <% end %>
  </ul>
</div>
