<div>
  <p class="notification is-info" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= get_flash(@conn, :info) %></p>

  <p class="notification is-danger" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"><%= get_flash(@conn, :error) %></p>

  <%= @inner_content %>
</div>
