<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Smoke tests made easy", suffix: " · Smokex" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <nav class="navbar" role="navigation">
        <div class="container">
          <a href="/" class="navbar-brand">
            <img src="<%= Routes.static_path(@conn, "/images/smokex_logo.png") %>"
                 class="navbar-item logo" width="170" height="60" alt="Smokex Logo"/>
          </a>

        <div id="feedback" class="mr-2">
          <div class="navbar-item">
            <a class="button is-primary" target="_blank" href="https://airtable.com/shrHMbYacikW8eGFI">Feedback 🙌<a>
          </div>
        </div>

          <div class="navbar-menu is-active">
            <div class="navbar-start">
              <%= live_patch "Stats", to: Routes.live_path(@conn, SmokexWeb.StatsLive.Show),
                class: "navbar-item" %>

              <%= live_patch "Test plans", to: Routes.live_path(@conn, SmokexWeb.PlansDefinitionsLive.List),
                class: "navbar-item" %>

              <%= live_patch "Executions", to: Routes.live_path(@conn, SmokexWeb.PlansExecutionsLive.All),
                class: "navbar-item" %>

              <%= unless Smokex.StripeSubscriptions.has_subscription?(@current_user) do %>
                <%= live_patch "Pricing", to: Routes.live_path(@conn, SmokexWeb.PricingLive.Show),
                  class: "navbar-item" %>
              <% end %>

              <%= live_patch "Documentation", to: Routes.live_path(@conn, SmokexWeb.DocumentationLive.Show),
                class: "navbar-item" %>

              <%= if Pow.Plug.current_user(@conn) do %>
                <%= live_patch "My account", to: Routes.live_path(@conn, SmokexWeb.MyAccountLive.Show),
                  class: "navbar-item" %>
              <% end %>
            </div>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <%= if Pow.Plug.current_user(@conn) do %>
                <%= link "Sign out", to: Routes.pow_session_path(@conn, :delete),
                  method: :delete, class: "button is-light is-outlined" %>
              <% else %>
                <div class="buttons">
                  <%= link "Sign in", class: "button is-primary is-light",
                    to: Routes.pow_session_path(@conn, :new) %>

                  <%= link "Sign up", class: "button is-primary",
                    to: Routes.pow_registration_path(@conn, :new) %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <%= @inner_content %>

    <footer class="footer">
      <div class="container">
        <div class="columns">
          <div class="column is-4 has-text-centered is-hidden-tablet"><a class="title is-4" href="#">Smokex</a></div>
          <div class="column is-4">
            <div class="level">
              <a class="level-item" href="/welcome">Getting started</a>
              <a class="level-item" href="/pricing">Pricing</a>
            </div>
          </div>
          <div class="column is-4 has-text-centered is-hidden-mobile">
            <a class="title is-4" href="#">Smokex</a>
          </div>
          <div class="column is-4 has-text-right">
            <div class="level">
              <a class="level-item" href="/terms-and-conditions">Terms and conditions</a>
              <a class="level-item" href="/privacy-policy">Privacy policy</a>
            </div>
          </div>
        </div>
        <p class="subtitle has-text-centered is-6">© 2020 Smokex. All right reserved.</p>
      </div>
    </footer>
  </body>
</html>
