<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="slack-app-id" content="A01AC9HHX7W">

    <meta property="og:title" content="Smokex" />
    <meta property="og:description" content="Automate your HTTP request without writing any code!" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://smokex.io/images/landing.png" />
    <meta property="og:image:secure_url" content="https://smokex.io/images/landing.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:alt" content="Automate your HTTP request without writing any code!" />
    <meta property="og:url" content="https://smokex.io" />
    <meta property="og:locale" content="en_US" />

    <!-- Twitter tags -->
    <meta name="twitter:card" content="Smokex">
    <meta name="twitter:title" content="Smokex">
    <meta name="twitter:description" content="Automate your HTTP request without writing any code!">
    <meta name="twitter:site" content="@qgadrian">
    <meta name="twitter:creator" content="@qgadrian">
    <meta name="twitter:url" content="https://smokex.io">
    <meta name="twitter:image:src" content="https://smokex.io/images/landing.png">

    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Smoke tests made easy", suffix: " · Smokex" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <div id="page-container">
      <header>
        <nav class="navbar" role="navigation">
          <div class="navbar-brand">
            <%= if Pow.Plug.current_user(@conn) do %>
              <%= live_patch to: Routes.live_path(@conn, SmokexWeb.PlansExecutionsLive.List), class: "navbar-item" do %>
                <img src="<%= Routes.static_path(@conn, "/images/icon.svg") %>" alt="Smokex Logo"/>
                <p>Smokex</p>
              <% end %>
            <% else %>
              <a href="/" class="navbar-item">
                <img src="<%= Routes.static_path(@conn, "/images/icon.svg") %>" alt="Smokex Logo"/>
                <p>Smokex</p>
              </a>
            <% end %>

            <a id="navbarBurger" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarDropdown">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarDropdown" class="navbar-menu">
            <div class="navbar-start">
              <%= if !Pow.Plug.current_user(@conn) do %>
                <%= live_patch "Getting started", to: Routes.live_path(@conn, SmokexWeb.WelcomeLive.Show), class: "navbar-item" %>
              <% else %>
                <%= live_patch "Workflows", to: Routes.live_path(@conn, SmokexWeb.PlansExecutionsLive.List), class: "navbar-item" %>
              <% end %>

              <%= live_patch "Docs", to: Routes.live_path(@conn, SmokexWeb.DocumentationLive.Show), class: "navbar-item" %>

              <%= unless Smokex.StripeSubscriptions.has_subscription?(@current_user) do %>
                <%= live_patch "Pricing", to: Routes.live_path(@conn, SmokexWeb.PricingLive.Show),
                  class: "navbar-item" %>
              <% end %>

              <%= if Pow.Plug.current_user(@conn) do %>
                <%= live_patch "My account", to: Routes.live_path(@conn, SmokexWeb.MyAccountLive.Show), class: "navbar-item" %>
              <% end %>
            </div>

            <div class="navbar-end">
              <div class="navbar-item">
                <a class="button is-primary" target="_blank" rel="noopener noreferrer" href="mailto:help@smokex.io?subject=Smokex help">Need help?<a>
              </div>
              <div class="navbar-item">
                <%= if Pow.Plug.current_user(@conn) do %>
                  <%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete, class: "button is-light" %>
                <% else %>
                  <div class="buttons">
                    <%= link "Sign in", class: "button is-white", to: Routes.pow_session_path(@conn, :new) %>

                    <%= link "Sign up", class: "button", to: Routes.pow_registration_path(@conn, :new) %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </nav>
      </header>

      <main class="sx-main">
        <%= @inner_content %>
      </main>

      <footer class="footer">
        <div>
          <ul class="is-size-7 my-1">
            <li class="mr-3">© 2020 Smokex.</li>
          </ul>
          <ul class="is-size-7 my-1">
            <li class="mr-3"><a href="/terms-and-conditions">Terms</a></li>
            <li class="mr-3"><a href="/privacy-policy">Privacy</a></li>
            <li class="mr-3"><a href="/pricing">Pricing</a></li>
            <li class="mr-3"><%= live_patch "Getting started", to: Routes.live_path(@conn, SmokexWeb.WelcomeLive.Show), class: "level-item" %></li>
            <li><%= live_patch "Blog", to: Routes.live_path(@conn, SmokexWeb.BlogLive.Show), class: "level-item" %></li>
          </ul>
        </div>
      </footer>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>
