<h2 class="title">All executions</h2>

<section class="section">
  <div class="container">
    <%= live_component @socket, FilterComponent, active_filter: @active_filter,
plan_executions: @plan_executions %>

    <div class="box">
      <%= live_component @socket, TableComponent, plan_executions: @plan_executions %>
    </div>
  </div>
</section>
