.box-nav {
  margin-bottom: 16px;
}

.box-header {
  padding: 16px;
  background-color: #f6f8fa;
  border-bottom: 1px solid $border;
  .select {
    margin: -5px 0;
  }
  .box-header-right {
    display: flex;
    @include from($tablet) {
      justify-content: flex-end;
    }
    .box-header-filter{
      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }
}

.box-info {
  display: none;
  padding: 16px;
  margin: -1px 0;
  background-color: #dbedff;
  border-top: 1px solid rgba(4, 66, 137, 0.2);
  border-bottom: 1px solid rgba(4, 66, 137, 0.2);
}

.box-row {
  border-bottom: 1px solid $border;
  padding: 16px;
}

.box-right {
  display: flex;
  flex-direction: column;
  summary {
    padding: 4px 0;
    display: flex;
  }
}
