// icons!
ion-icon {
  @at-root .is-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
  }
  visibility: inherit !important;
  &.is-primary {
    color: $primary
  }
  &.is-success {
    color: $success
  }
  &.is-info {
    color: $info
  }
  &.is-danger {
    color: $danger
  }
  &.is-code {
    color: $code
  }
}

// flex!
.x-flex {
  display: flex;
}
.x-flex-column {
  display: flex;
  flex-direction: column;
}
.x-flex-justify-sb {
  justify-content: space-between;
}
.x-flex-justify-c {
  justify-content: center;
}
.x-flex-justify-end {
  justify-content: flex-end;
}
.x-flex-align-c {
  align-items: center;
}
.x-flex-align-self-c {
  align-self: center;
}

// text
.no-wrap {
  white-space: nowrap;
}

// buttons!
.button.is-responsive {
  @include until($tablet) {
    @include button-small;
  }
}
.button.has-text-left {
  justify-content: flex-start;

}
.button.has-text-right {
  justify-content: flex-end;
}

// spacing!
.erase-px-mobile {
  @include until($tablet) {
    padding-left: 12px !important;
    padding-right: 11px !important;
  }
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0 !important;
}

// letters n words
.break-word {
  word-break: break-word;
}