/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";
@import 'variables';
@import 'prismjs';
@import "~bulma/bulma";
@import 'helpers';
@import 'custombox';
@import 'executions';
@import 'cheatsheet';
@import 'vendors';

html {
  font-size: 14px;
}

// page container
#page-container {
  position: relative;
  min-height: 100vh;
}

// navbar
a.navbar-item img {
  padding: 0;
}

a.navbar-item p {
  color: $primary;
  letter-spacing: 1px;
  font-size: 18px;
  padding-left: 8px;
}

// footer
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  div {
    white-space: nowrap;
    display: flex;
    @include until($tablet) {
      flex-direction: column;
    }
  }
  ul {
    display: flex;
  }
}

// main content
main.sx-main {
  padding-bottom: 4rem;    /* Footer height */
}

// hero section #show.htmol.leex

div.hero-container {
  display: flex;
  align-items: center;
  @include until($tablet) {
    text-align: center;
    flex-direction: column;
  }
}

img.hero-image {
  width: 50%;
  object-fit: contain;
}

// rest
.hover-cursor:hover {
 cursor: pointer;
}

#nprogress .bar {
  background: $primary !important;
}

.status-filter-vertical {
  display: flex;
  flex-direction: column;

  .radio {
    margin-left: 0!important;
    margin-top: 0.5em!important;
  }
}

table.is-hoverable > tbody > tr.is-not-hoverable:hover {
  background-color: transparent!important;
}

.hidden {
  display: none!important;
}

.notification:empty {
  display: none;
}

div.not-found > img {
  max-width: 100%;
  max-height: 400px;
}

// Code editor syntax override
.box.code-content, .code-content {
  height: 400px!important;
  overflow: scroll;
  padding-bottom: 0.5rem;

  span.help {
    position: sticky;
    bottom: 0;
    background-color: $scheme-main;
  }
}

.cm-content, .ͼ2o .cm-content {
  caret-color: black!important;
}

.cm-activeLine {
  background-color: transparent!important;
}

.cm-gutters {
  background-color: transparent!important;
  color: $text!important;
  margin-right: 4px!important;
}

.cm-line { color: $content-color-key; }
.ͼ21 { color: $content-color-string; }
.ͼ21 { color: $content-color-string; }
.ͼ20 { color: $content-color-number; }
.ͼ1z.ͼ1y { color: $content-color-boolean; }
