/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";
@import 'variables';

.hover-cursor:hover {
 cursor: pointer;
}

main#main-content {
  padding-top: 20px;
  min-height: calc(100vh - 55px - 6rem - 3rem);
}

footer {
  height: 50px;
}

.box.code-content, .code-content {
  padding: 0;
  height: 400px!important;
  overflow: scroll;
}

.status-filter-vertical {
  display: flex;
  flex-direction: column;

  .radio {
    margin-left: 0!important;
    margin-top: 0.5em!important;
  }
}

table.is-hoverable > tbody > tr.is-not-hoverable:hover {
  background-color: transparent!important;
}

img.navbar-item {
  max-height: 50px;
}

img.landing {
  width: 600px;

  &.logo {
    max-width: 500px;
    display: block;
    margin: auto;
  }
}

.hidden {
  display: none!important;
}

// Code editor syntax override
.cm-activeLine {
  background-color: transparent!important;
}

.cm-gutters {
  background-color: transparent!important;
  color: $text!important;
}

@import "~bulma/bulma";
