/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";
@import 'variables';

.hover-cursor:hover {
 cursor: pointer;
}

main#main-content {
  padding-top: 20px;
}

.box.code-content {
  padding: 0;
  max-height: 400px;
  min-height: 400px;
  overflow: scroll;
}

img.landing {
  width: 600px;

  &.logo {
    max-width: 500px;
    display: block;
    margin: auto;
  }
}

// Code editor syntax override
.cm-activeLine {
  background-color: transparent!important;
}

.cm-gutters {
  background-color: transparent!important;
  color: $text!important;
}

@import "~bulma/bulma";
